 /* kolor tytułów sekcji
rgb(180, 40, 40) */

 * {
     margin: 0%;
     padding: 0;
     box-sizing: border-box;
 }

 html {
     font-size: 62.5%;
 }

 body {
     position: relative;
     font-family: 'Roboto', sans-serif;
     font-size: 1.6rem;
 }

 .hero-shadow {
     position: absolute;
     top: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, .6);
     z-index: -1;
 }

 header {
     position: relative;
     height: 60rem;
     background-image: url('/hero-image/hero-image1.jpg');
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     z-index: 0;
 }

 header h1 {
     font-size: 4rem;
     text-align: center;
     /* font-style: bold; */
     text-transform: uppercase;
     font-family: 'dancing script';
     line-height: 60rem;
     color: #fff;
 }
 .title {
     font-size: 4rem;
 }
 section h2 {
     font-size: 2.6rem;
 }

 section h3 {
     font-size: 2rem;
 }

 section h2,
 section h3,
 .social-media p {
     color: rgb(180, 40, 40);
 }
 section p {
     font-size: 1.8rem;
 }

 hr {
     color: rgb(180, 40, 40);
 }

 .about-conference a,
 .conference-speakers a {     
     text-decoration: none;
     color: rgb(180, 40, 40);
     cursor: pointer;
 }

 /* sekcje prelegentki i organizatorki */

 .conference-speakers img,
 .conference-organizators img {
     width: 100%;
     height: 30rem;
     background-size: cover;
     background-position: center center;
 }

 .conference-speakers .btn,
 .conference-organizators .btn {
     font-size: 1.8rem;
     font-weight: bold;
 }

 .social-media a {
     display: inline-block;
     
 }
 .social-media i {
    font-size: 3rem;
 }

 footer {     
     background-color: rgb(180, 40, 40);
     color: white;
 }

 footer i {     
     color: white;
 }

 @media (min-width: 768px) {
     header h1 {
         font-size: 6rem;
     }
 }