 /* kolor tytułów sekcji
rgb(180, 40, 40) */

* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
}

.hero-shadow {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    z-index: -1;
}

header {
    position: relative;
    height: 60rem;
    background-image: url('/hero-image/hero-image1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 0;
}

header h1 {
    font-size: 6rem;
    text-align: center;
    /* font-style: bold; */
    text-transform: uppercase;
    font-family: 'dancing script';
    line-height: 60rem;
    color: #fff;
}